.home{
    @include res-size(
        $width: 30px,
        $height: 60px
    );
    background: url('../../assets/images/leftPic.png') no-repeat;
    background-size: cover;
    button{
        display: flex;
        align-items: center;
        text-align: center;
        color: aqua;
    }
}