/* @import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap'); */
/* @font-face {
  font-family: 'Teko-Bold';
  src:  url('../font/Teko-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'Teko-Light';
  src:  url('../font/Teko-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'Teko-Medium';
  src:  url('../font/Teko-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'Teko-Regular';
  src:  url('../font/Teko-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'Teko-SemiBold';
  src:  url('../font/Teko-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}  */
